<h1 class="header-style"> My Instrument Bookings </h2>

<h2> Current </h2>
<div class="container cards-container">
  <div class="row">
    <% @bookings.each do |b| %>
      <% if b.checkout >= Date.today %>
        <div class="col-sm-4">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path b.instrument.photo, height: 300, width: 400, crop: :fill unless b.instrument.photo.blank? %>')">
              <h3><%= link_to b.instrument.name.capitalize, booking_path(b), class: "hyperlink" %></h3>
                <p>£<%= b.instrument.price %>/day</p>
              <div class="card-button-btm-left"><%= link_to "Edit This Booking", edit_booking_path(b), class: "btn btn-flat yellow", id: "button" %>
              </div>
          </div>
        </div>
      <% end %>
    <% end  %>
  </div>
</div>

<br>
<br>
<h2> Past </h2>
<div class="container cards-container">
  <div class="row">
      <% @bookings.each do |b| %>
        <% if b.checkout <= Date.today %>
          <div class="col-sm-4">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path b.instrument.photo, height: 300, width: 400, crop: :fill unless b.instrument.photo.blank? %>')">
              <h3><%= link_to b.instrument.name.capitalize, booking_path(b), class: "hyperlink" %></h3>
              <p>£<%= b.instrument.price %>/day</p>
              <div class="card-button-btm-left"><%= link_to "Leave A Review", new_booking_review_path(b), class: "btn btn-flat yellow", id: "button" %>
              </div>
            </div>
          </div>
        <% end  %>
      <% end  %>
  </div>
</div>

