<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.solent.ac.uk/image-library/facilities/music-practice-rooms-banner.jpg);">
    <h1>Skinny Leopard <strong>creative solutions</strong> for <strong>creative musicians</strong>!</h1>
    <p>Find an amazing instrument to rent!</p>


      <%= form_tag(root_path, :method => "get") do %>
      <div class="search-form-control form-group yellow", id="search_bar">
        <%= search_field_tag :search, params[:search], placeholder: "Guitars, drums, saxophone, vintage synths.....", class: "form-control string required" %>
        <button name="button" type="submit" class="btn btn-flat yellow">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>

  </div>
  <div class="desc-row">
    <h3 class="desc-text">Put your unused instruments to good use by renting out your gear.</h3>
    <p class="desc-text">Join the thousands of musicians earning extra cash today!</p>
  </div>
</div>

<div class="container d-flex cards-container">
    <% @instruments.each do |i| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path i.photo, height: 300, width: 400, crop: :fill unless i.photo.blank? %>')">
        <h3><%= link_to i.name.capitalize, instrument_path(i), class: "hyperlink" %></h3>
        <p>£<%= i.price %> /day</p>
      </div>
    <% end %>
</div>
