<h1> Checkout our instru*mental* collection </h1>

<div class="container d-flex cards-container">
    <% @instruments.each do |i| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path i.photo, height: 300, width: 400, crop: :fill unless i.photo.blank? %>')">
        <h3><%= link_to i.name, instrument_path(i), class: "hyperlink" %></h3>
        <p><%= i.location %></p>
        <p><%= i.price %></p>
        <p><%= i.category %></p>
      </div>
    <% end %>
</div>

