<h1><%= @instrument.name %>:</h1>


<div class="container">
  <div class="card-instrument">
    <div class="card-instrument-information">
      <div>
        <p>Address: <%= @instrument.location %></p>
      </div>
      <h2 class="card-instrument-pricing"><%= @instrument.price %></h2>
      <p>Category: <%= @instrument.category %></p>
      <p>Description: <%= @instrument.description %></p>
    </div>
  </div>
    <div class="container">
      <%= link_to "Back", instruments_path, class: "btn btn-primary" %>
    </div>
    <%= link_to "Book Now", new_instrument_booking_path(@instrument) %>
</div>

<% if policy(@instrument).edit? %>
<%= link_to "Delete Instrument", instrument_path, method: :delete, class: "btn btn-primary" %>
<%= link_to "Edit Instrument", edit_instrument_path, class: "btn btn-primary" %>
<% end %>
